/* Estilos generales para todos los elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

/* Estilos para el elemento html */
html {
    min-height: 100vh;
    background: linear-gradient(to bottom, #4285f4, #4285f4,#4285f4, #b8cff4,#b8cff4, #b8cff4);
}

/* Estilos para el cuerpo de la página */
    body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        min-height: 100vh;
        height: 100vh;
    }

/* Estilos para el encabezado */
    header {
        order: 1;
        width: 30%;
        max-width: 250px;
        height: 100vh;
        background-color: #4285f4;
        padding: 20px;
        color: #fff;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.71);

    }
   

header h1 {
    font-size: calc(1.2rem + 1vw);
    margin-bottom: 20px;
}

/* Estilos para la barra lateral */
aside {
    order: 2;
    padding: 40px 20px;
    height: 70%;
    color: #fff;
    text-align: center;
    background-color: #4285f4;
    position: relative;
}

aside #estadisticas {
    position: absolute;
    bottom: 5rem;
    text-align: center;
    width: 80%;
    padding: 15px;
    background-color: #6666665b;
}

/* Estilos para el contenido principal */
main {
    order: 2;
    width: 70%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

main h2 {
    margin-top: 20px;
    font-size: calc(1.2rem + 1vw);
    color: #fff;
    margin-bottom: 20px;
}

/* Estilos para la sección de la tabla */
section {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    max-width: 700px;
    max-height: 70vh;
    overflow-y: auto;
    padding: 0 15px;
}

/* Estilos para la tabla */
table {
    width: 100%;
    border-radius: 10px;
    background-color: #6666665c;
    border-collapse: collapse;
    font-weight: 500;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: rgb(97, 154, 214);
}

th {
    background-color: rgb(21, 73, 132);
    color: #fff;
}

/* Estilos para el pie de página */
footer {
    width: 100%;
    height: 5vh;
    text-align: center;
    color: rgb(5, 48, 81);
    font-size: x-small;
    font-style: italic;
    margin-top: 20px;
}

/* Estilos para los filtros */
.filter {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.filters #btnTodos {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    color: rgb(91, 90, 90);
    cursor: pointer;
}

.filters #ciudad {
    padding: 5px 5px;
    border-radius: 5px;
    text-align: left;
    border: none;
    color: rgb(91, 90, 90);
    cursor: pointer;
}

#ciudad:focus {
    outline: none;
    color: #4285f4;
    border: 1px solid #2b63bc;
    box-shadow: 0 0 10px rgba(41, 41, 41, 0.316);
}

.filter .filters {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.filter input {
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 80%;
}

.filter input:focus {
    outline: none;
    color: #4285f4;
    border: 1px solid #2b63bc;
    box-shadow: 0 0 10px rgba(41, 41, 41, 0.316);
}

.filter #btnFiltrar {
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #c6dbfd;
    font-weight: 600;
    color: rgb(0, 50, 130);
    cursor: pointer;
}

/* Estilos para el bloque de número de talentos */
.numeroTalentos p, h4 {
    margin: 0;
    padding: 0;
}

.numeroTalentos p {
    font-size: 1.3rem;
    font-weight: bold;
}

/* Estilos para la barra de desplazamiento */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #92b8f4;
    border-radius: 15px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

 /* media query para el encabezado */
 @media (max-width: 360px) {

    body {
        background-color: #718fbf;
        display: block;
        font-size: 14px;
    }
    
    header {
        background-color: #4285f4;
        display: block;
        width: 100%;
        height: 7%;
        max-width: 100%;
    }
    aside {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: transparent;
        width: 100%;
        height: 100%;
    }
    aside #estadisticas {
        display: none;
    }
    .filter {
        z-index: 10;
    }
    .filters {
        z-index: 1000;
    }
    
    main {
        display: block;
        width: 100%;
        height: 100%;
        padding: 0 5px;
    }
    footer {
        display: none;
    }

}
